.search-form_content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}

.search-form_content-title {
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form_item {
    
}